body{
	background-image: url(bg.jpg);
}
body a{
	color:#01AAED;
}
body a:hover{
	color:#5FB878;
}
.top{
	position:fixed;
	right:80px;
	bottom:80px;
	z-index:99;
}
.top i{
	font-size: 50px; color: #1E9FFF;
}
.header{
	margin:0;
	padding:0;
	background-color: #393D49;
}
.logo{
	color:#FFFFFF;
	padding-top:10px;
}
.logo h1 a{
	color:#FFFFFF;
}
.menu{
	
}
.post{
	/*border:1px solid #EAEAEA;*/
	box-shadow: 1px 1px 1px #888888;
	margin-bottom:20px;
	padding:20px;
}
.post a:hover{
	/*color:#FF5722;*/
}
.post-title{
	padding-bottom:10px;
}

.post-meta li{
	display:inline;
	margin-right:14px;
}
.post-meta a{
	color:#494949;
}
.more a{
	
}
#nav_menu a{
	color:#FFFFFF;
}
.search{
	margin-top:10px;
}
.content{
	margin-top:40px;
	margin-bottom:80px;
}
.footer{
	
	background-color: #2F4056;
	color:#FFFFFF;
	padding:14px;
	/*position:fixed;
	bottom:0;*/
}
.footer a{
	color:#c2c2c2;
}
.post{
	background-color:#FFFFFF;
}
.post p{
	padding:10px;
	padding-left:0;
}
.post-content pre{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.post-content code{
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    color: #b94a48;
    padding: 2px 4px;
    background: #f3f3f0 none repeat scroll 0 0;
    margin-left:0.3em;
    margin-right:0.3em;
}
.post-content p{
	word-wrap:break-word;
}
.post-content p code{
	background-color:#F0F0F0;
	color:#C13;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	line-height:24px;
}
.post-content li code{
	background-color:#F0F0F0;
	color:#C13;
	padding:2px;
	padding-left:4px;
	padding-right:4px;
}
.post-content ul li{
	line-height:20px;
}
.post-content blockquote{
	border-left:3px solid #5FB878;
	background-color:#F0F0F0;
	padding-left:0.8em;
}
.post-content h3{
	font-size:18px;
	font-weight:bold;
}
.post-content ul{
	margin-bottom:8px;
	margin-top:8px;
}
.post-content ul li{
	list-style-type:disc;
	margin-left:2em;
}
.post-content img{
	max-width: 100%;
    max-height: 100%;
}
.sidebar{
	background-color: #FFFFFF;
	box-shadow: 1px 1px 1px #888888;
	/*border:1px solid #D1D1D1;;*/
	
	float:right;
	
	padding:14px;
}
.sidebar h3{
	font-size:18px;
	border-left:3px solid #5FB878;
	background-color:#F0F0F0;
	padding:6px;
	padding-left:8px;
}
.sidebar ul{
	margin-top:10px;
}
.sidebar li{
	padding:6px;
	padding-left:8px;
	line-height:10px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.sidebar a{
	color:#666666;
}
.sidebar a:hover{
	/*color:#FF5722;*/
}

.page-navigator li{
	display:inline;
	padding:10px;
	border:1px solid #e2e2e2;
	margin-right:6px;
	background-color:#F0F0F0;
}

.page-navigator a{
	
}
#comments{
	border-radius:2px;
	background-color:#FFFFFF;
	padding:1em;
	box-shadow: 1px 1px 1px #888888;
	margin-bottom:2em;
}
#comments p{
	margin-top:8px;
}
.comment-list{
	margin-top:12px;
	border-bottom:1px solid #e2e2e2;
	margin-bottom:10px;
}
.comment-author img{
	border-radius:32px;
	float:left;
}
.comment-author cite{
	margin-left:18px;
	vertical-align: middle;
	margin-top:10px;
	font-weight:bold;
	color:#3C3C3C;
}
.comment-meta{
	margin-left:48px;
}
.comment-meta a{
	color:#707070;
}
.comment-content{
	margin-top:10px;
	margin-left:48px;
	color:#383838;
	/*border:1px solid #c2c2c2;
	background-color:#f2f2f2;
	border-radius:3px;*/
}
.comment-reply{
	/*float:left;*/
	margin-left:48px;
	margin-top:0.5em;
	margin-bottom:1em;
}
.comment-reply a{
	border-radius:3px;
	background-color:#19a9d5;
	color:#FFFFFF;
	padding:3px;
	padding-left:6px;
	padding-right:6px;
}
.comment-reply a:hover {
    color:#FFFFFF;
}
.error-page h2{
	text-align:center;
}
.error-page p{
	text-align:center;
}
.shell .bash{
    color: #998;
    font-style: italic;
}
